PORT=3000
DATABASE_URL=postgresql://postgres:666666@localhost:5432/online_judge
JWT_ACCESS_SECRET=replace_with_long_random_access_secret
JWT_REFRESH_SECRET=replace_with_long_random_refresh_secret
REDIS_URL=redis://127.0.0.1:6379
FRONTEND_ORIGIN=http://localhost:5173

# Optional Codeforces remote provider
CODEFORCES_HANDLE=___________
CODEFORCES_COOKIE=JSESSIONID=30F7DE981CC0B5443CD9B6D554529AB7; 70a7c28f3de=w7cgi0wokiomsunbnl; X-User=ddbbf9607fce1df3501a35d5543ab7470778b08f
CODEFORCES_HANDLE_OR_EMAIL=u2004024@student.cuet.ac.bd
CODEFORCES_PASSWORD=X!XTyamSzK63eUL
